.footer {
    box-shadow: 0px -9px 10.5px 4px #00000040;
    background: #3D3D3D;
    border-radius: 25px 25px 0 0;


    footer {
        padding: 30px;

        .container{
            .content{
                display: flex;
                align-items: center;
                justify-content: space-between;

            p{
                font-size: 24px;
                font-weight: 700;
                line-height: 75px;
                margin: 0;
                color: #ffffff;
            }

            .icons{
                display: flex;
                gap: 25px;
            }
        }
    }
    }
}